//- <form class="pure-form pure-form-stacked" id="mainForm" onsubmit='return validate();'>
//-   <fieldset>
//-     <legend>My Solid Form <br>Validation Project</legend>
//- 
//-     <label for='firstName'>First Name</label>
//-     <input type="text" class='pure-input' id="firstName" name="firstName" value="" placeholder="first name">
//- 
//-     <label for="lastName">Last Name</label>
//-     <input type="text" id='lastName' name="lastName" value="" placeholder="last name">
//- 
//-     <label for="email">Email</label>
//-     <input type="email" id='email' name="email" value="" placeholder="email@email.com">
//- 
//-     <label for="subscriptionLevel">Subscription Level</label>
//-     <select id="subscriptionLevel">
//-       <option value=''>choose level</option>
//-       <option value='silver'>silver</option>
//-       <option value='gold'>gold</option>
//-       <option value='platinum'>platinum</option>
//-     </select>
//- 
//-     <label for="phoneNumber">PhoneNumber</label>
//-     <input type="tel" id='phoneNumber' name="phoneNumber" value="" placeholder="555-555-5555">
//- 
//-     <legend>Street Address</legend>
//-     <label for="streetAddress">Address</label>
//-     <input type="text" id='streetAddress' name="streetAddress" value="" placeholder="101 Easy St.">
//-     <input type="text" id='streetAddress_2' name="streetAddress_2" value="" placeholder="Unit: 505">
//-     <label for="city">City</label>
//-     <input type="text" id='city' name="city" value="" placeholder="Portland">
//-     <label for="city">State</label>
//-     <input type="text" id='state' name="state" value="" placeholder="OR">
//-     <label for="zip">Zip</label>
//-     <input type="text" id='zip' name="zip" value="" placeholder="97201">
//-   </fieldset>
//-     <button type="submit" class="pure-button pure-button-primary">Submit</button>
//- </form>
