doctype 
html
  head

    meta(charset="UTF-8")
    title Form Validation
    
    link(rel="stylesheet" href="/main.css")
    

  body
    .container
        p
            img#solidLogo(src='http://classicmarvelforever.com/images/heimdall.gif')
        #exampleListWell.well.well-sm
            h1 Examples
            ul
                li
                    a(href='/example-vanilla-javascript') Vanilla JavaScript
                li  
                    a(href='/example-jquery') jQuery
                li
                    a(href='/example-solid-stack') Solid
                li 
                    a(href='/example-polymer') Polymer
                
            br
            br
