doctype 
html
    head

        meta(charset="UTF-8")
        title - Form Validation
        
        block head

        script(src="/bower_components/webcomponentsjs/webcomponents.js")
        link(rel="import" href="/bower_components/paper-input/paper-input.html")
        link(rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html")
        link(rel="import" href="/bower_components/paper-listbox/paper-listbox.html")
        link(rel="import" href="/bower_components/paper-button/paper-button.html")
        link(rel="import" href="/bower_components/paper-fab/paper-fab.html")

        
        link(rel="import" href="/bower_components/iron-input/iron-input.html")
        link(rel="import" href="/bower_components/iron-selector/iron-selector.html")
        link(href="path/to/iron-icons/iron-icons.html" rel="import")
        link(rel="import" href="bower_components/iron-icons/maps-icons.html")
        
        link(rel="import" href="/bower_components/gold-email-input/gold-email-input.html")
        link(rel="import" href="/bower_components/gold-phone-input/gold-phone-input.html")
        link(rel="import" href="/bower_components/gold-zip-input/gold-zip-input.html")
        
        link(rel="stylesheet" href="/main.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css") 
        
    block header
    .header
        iron-icon(icon="icons:polymer")
        h1 Form Validation Project

    body
        
    .container
        .site-background
        //- block header
        block contents
    block scripts    
        
